# Python
venv
__pycache__
*.egg-info
build
dist
.ipynb_checkpoints

# Java
*.jar

# Graphs
*.arcs
*.graph*
*.offsets
*.properties
*.indegree
*.outdegree
*.indegrees
*.outdegrees
*.stats
*.ranks

# Misc
*.txt
*.csv
!*requirements.txt
*.gz
*.zip
*.png
*.svg
*.pdf

# LaTeX
*.tex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# Sphinx
docs/build
docs/source
!docs/source/index.md
!docs/source/changelog.rst

# IDE
.idea
.vscode

# Coverage
.coverage*
coverage.*
!.coveragerc
htmlcov
